body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}
.logo{
     font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #4d5ae5;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
  align-items: center;
  padding: 24px 0;
  justify-content: center;
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: auto;
}
.logo .link{
   display: inline-block; 
   margin-bottom: 16px;
}
.contact{
    font-style: normal;
    text-decoration: none;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact:hover,
.contact:focus{
    color: #404bbf
}
h1{
    text-transform: capitalize;
    line-height: 60px;
}
.accent{
    color: var(--navy-blue);
}
:root{
    --navy-blue: #2e2f42;
    --slate: #434455;
}
.nav{
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.nav:hover,
.nav:focus{
    color:#404bbf
}
.contact-info{
    color: #434455;

}
.contact-info:hover,
.contact-info:focus{
    color: #404bbf;
}
.button{
    font-size: 16px;
    background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 38px auto;
}
.button:hover,
.button:focus{
    background-color: #404bbf;
}
.paragraph{
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.paragraph-pluses{
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.link{
    text-decoration: none;
    list-style-type: non


}
.list{
    list-style: none;
    display: flex;
    gap: 24px;
    
}
.nav:hover,
.nav:focus{
    color: #404bbf;

}
.first-section{
    background-color: var(--navy-blue);
    padding: 188px 0;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/people-office\ 1.jpg);
    background-size: cover;
}
.second-section{
    padding: 120px 0;
}
.vissualy-hidden{
    position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
 overflow: hidden;
}
.our-pluses{
    display: flex;
    gap: 24px;
}
.big-text{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    display: block;
    align-self: center;
    margin: 0 auto;
}
.pluses-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
    
}
.heading-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
    text-align: center;
}
.list-of-pluses{
width: calc((100% - 72px) / 4);
}
.third-section{
    padding-bottom: 120px;
}

.headed-text{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
}
.team-list{
    display: flex;
    gap: 24px;
}
.team-members{
    width: calc((100% - 48px) / 3);
}
.fourth-section{
    background-color: #f4f4fd;
    padding: 120px 0;
}
.team{
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-member{
    padding: 32px 16px;
}
.footer{
    background-color: var(--navy-blue);
    padding: 100px 0;
}

.footer .accent{
    color: #f4f4fd;
}
.footer-text{
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.filter-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #f4f4fd;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
   padding: 12px 24px;
   border: 1px solid #e7e9fc;
   border-radius: 4px;
}
.filter-button:hover,
.filter-button:focus{
    color: #ffffff;
    background-color: #404bbf;
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.f-but{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   
}
.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

}
.header-content{
    display: flex;
    align-items: center;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.navigation{
    display: flex;
    align-items: center;
    gap: 40px;
}
.link-to-smth{
    display: flex;
    gap: 40px;
}
.nav .link{
    padding: 24px 0;
}
.contact-list{
    display: flex;
    gap: 40px;
}
img{
    display: block;
}
.menu{
    display: flex;
    gap: 40px;
}
.menus{
    padding: 24px 0;
}
.portfolio-section{
    padding: 96px 0 120px 0;
}
.button-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;

}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}
.portfolio-work{
    width: calc((100% - 48px) / 3);
}

    

.works{
    padding: 32px 16px ;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
ul{
    padding: 0;
    margin: 0;
}
.menu-list{
    display: flex;
    gap: 40px;
}
address{
    margin-left: auto;
}
.aaa{
    padding: 24px 0;
}
.portfolio-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}
.portfolio-paragraph{
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #4d5ae5;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    display: inline-block;
    margin-bottom: 16px;
   
}
h1,h2,h3,p,ul{
    margin: 0;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 300px;
    background: #4D5AE5;
    transform: translateY(-150%);
    transition: transform 250ms ease-in-out;
  }
  .hover-info{ 
    position: relative;
    overflow: hidden;
  }
  .hover-info:hover .overlay {
    transform: translateX(0);
  }
  .text{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-shrink: 0;
    color:  #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    background-color: #4D5AE5;
    align-items: center;
    text-align: center;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0; 
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hover-text{
    position: relative;
    overflow: hidden;
  }
  .hover-text:hover .text{
    transform: translateY(0%);
  }.aaa:hover::after{
    border-radius: 2px;
    background: var(--ocean, #404BBF);
    content: "";
    display:block;
    width: 100%;
    height: 4px;
    
  } 
  .icon-pluses{
    gap: 24px;
    border: 1px solid #F4F4FD;
    border-radius: 4px;
    background: #F4F4FD;
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.icon-media{
    border-radius: 50%;
    fill: #f4f4fd;
    z-index: 9999;
    fill: #2e2f42;
  background-color: #4D5AE5;
  width: 40px;
  height: 40px;
  align-items: center;
}
.icon-list{

}
.fifth-section{
    padding: 120px 0;
}
.customer-icon{
    width: 168px;
height: 88px;
gap: 24px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #8E8F99;
display: flex;
align-items: center;
justify-content: center;
}
.social-media-text{
    color: #FFF;
font-size: 16px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
}